div.table:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
div.table span {float:left; display:block;}

div.indent {
  margin-left:4em;
}

.branch.selected {
  font-weight:bold;
}

span form {
  display:inline;
}

div#commit_list {
  margin:1em;
}

a.commit {
  font-weight:bold;
}

a.commit.selected:before {content:'['}
a.commit.selected:after {content:']'}
